/desktop.ini
/.idea/
/tests/support/collections/empty/
/tests/support/collections/version_0.0.1/real/
/tests/support/collections/with_example_map/changed/default/collection.media/
/tests/support/collections/with_example_map/changed/default/collection.anki2
/tests/support/collections/with_example_map/changed/temporary/
/tests/support/collections/with_example_map/new_answer/default/collection.media/
/tests/support/collections/with_example_map/new_answer/default/collection.anki2
/tests/support/collections/with_example_map/new_answer/temporary/
/tests/support/collections/with_example_map/removed_center_node/default/collection.media/
/tests/support/collections/with_example_map/removed_center_node/default/collection.anki2
/tests/support/collections/with_example_map/removed_center_node/temporary/
/tests/support/smr_world/smr_world_with_example_map/smr_world.sqlite3
/tests/support/smr_world/smr_world_for_tests.sqlite3
/tests/support/smr_world/empty_smr_world.sqlite3
/tests/support/smr_world/smr_world_with_example_map.sqlite3
/tests/support/smr_world/smr_world_with_example_map.sqlite3-journal
/tests/support/smr_world/smr_world_4_tests.sqlite3
/tests/support/maps/no_changes/
/tests/support/maps/temporary/
/tests/support/maps/changes/环境很好。.mp3
/tests/support/maps/content.xml
/tests/.pytest_cache/
/tests/UI tests/.pytest_cache/
/user_files/smrworld.sqlite3
/user_files/smrworld.sqlite3-journal
/tests/support/maps/xml/example_map/content.xml
/tests/support/maps/xml/general_psychology/content.xml
/tests/support/collections/with_example_map/default/
/owlready2/
